:root {
  font-size: 62.5%;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  font-family: "Exo", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: auto;
  background-color: #ffffff;
  color: #292929;
  font-size: 1.6rem;
  font-weight: 400;
}
body header {
  height: 7rem;
}
body header .sub__container-1 {
  padding: 1rem 0rem 1.5rem 0rem;
  background-color: #1b242f;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
body header .sub__container-1 .navbar {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  max-width: 1000px;
  padding: 0;
}
body header .sub__container-1 .navbar .nav__item {
  width: 1000px;
  height: 2.8rem;
  text-align: center;
  padding-top: 0.8rem;
  color: #fff;
  font-size: 2rem;
}
body header .sub__container-1 .navbar .nav__item .nav-link {
  color: whitesmoke;
  transition: all 0.5s;
  border-radius: 0.3rem;
  display: inline-block;
}
body header .sub__container-1 .navbar .nav__item .nav-link:link {
  text-decoration: none;
}
body header .sub__container-1 .navbar .nav__item .nav-link:visited {
  text-decoration: none;
}
body header .sub__container-1 .navbar .nav__item .nav-link:hover {
  transform: scale(1.05);
  color: #e31b6d;
}
body header .sub__container-1 .navbar .nav__item .active {
  color: #e31b6d;
}
body .container {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  line-height: 200%;
}
body .container .sub__container-2 {
  margin-top: 10rem;
  text-align: center;
}
body .container .sub__container-2 h1 {
  font-size: 6rem;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 10rem;
  font-weight: 400;
}
body .container .sub__container-2 .border {
  margin: auto;
  margin-top: 1.5rem;
  width: 19rem;
  clip-path: circle(50% at 50% 50%);
  text-align: center;
  background-color: #1b242f;
}
body .container .sub__container-2 .border img {
  width: 18rem;
  clip-path: circle(50% at 50% 50%);
  text-align: center;
}
body .container .sub__container-2 p {
  padding: 3rem;
  text-align: justify;
}
body .container .sub__container-2 p a:link {
  text-decoration: none;
  color: #e31b6d;
}
body .container .sub__container-2 p a:visited {
  text-decoration: none;
}
body .container .sub__container-2 p a:hover {
  text-decoration: underline;
}
body .container .sub__container-2 p a:active {
  text-decoration: underline;
}
body .container .sub__container-2 .cards {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 3rem;
  padding: 3rem;
  background-color: #6bcccf;
}
body .container .sub__container-2 .cards .fas {
  font-size: 3rem;
  color: #6bcccf;
  margin-bottom: 3rem;
  text-align: center;
}
body .container .sub__container-3 {
  background-color: #f5f5f5;
  margin: 3rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}
body .container .sub__container-3 h1 {
  font-size: 4rem;
  text-align: center;
  margin: 8rem 2rem 4rem 2rem;
  font-weight: 400;
}
body .container .sub__container-3 p {
  text-align: justify;
}
body .container .sub__container-3 .fas {
  font-size: 5rem;
  color: #04c2c9;
  margin-bottom: 2rem;
  text-align: center;
}
body .container .sub__container-3 .cards {
  margin: 1rem;
  padding: 3rem;
}
body .container .sub__container-4 {
  margin: 3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}
body .container .sub__container-4 h1 {
  font-size: 4rem;
  text-align: center;
  margin: 8rem 3rem 4rem 3rem;
  font-weight: 400;
}
body .container .sub__container-4 h2 {
  margin: 1.5em 1rem 2rem 1rem;
  text-align: center;
  font-weight: 400;
}
body .container .sub__container-4 .experience {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: justify;
  flex-wrap: wrap;
  margin: auto;
}
body .container .sub__container-4 .experience .cards {
  margin-bottom: 6rem;
  border-radius: 5px;
  width: 34rem;
  height: 70rem;
  padding: 3rem;
}
body .container .sub__container-4 .experience .cards .fas {
  font-size: 4.5rem;
  color: #e31b6d;
  margin-bottom: 2rem;
  margin-top: 2rem;
  text-align: center;
  padding-left: 11.5rem;
}
body .container .sub__container-5 {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 3rem;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding-top: 5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
body .container .sub__container-5 h1 {
  font-size: 4rem;
  margin: 3rem 3rem 6rem 3rem;
  font-weight: 400;
}
body .container .sub__container-5 .my-skills {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
  padding-bottom: 3rem;
  text-align: justify;
}
body .container .sub__container-5 .my-skills .fab,
body .container .sub__container-5 .my-skills .fas {
  font-size: 3rem;
  margin: 3rem;
  padding-bottom: 3rem;
}
body .container .sub__container-5 .my-skills .sub__item-1 {
  color: #82c91e;
}
body .container .sub__container-5 .my-skills .sub__item-2 {
  color: #be4bdc;
}
body .container .sub__container-5 .my-skills .sub__item-3 {
  color: #be4bdc;
}
body .container .sub__container-5 .my-skills .sub__item-4 {
  color: #16aac0;
}
body .container .sub__container-5 .my-skills .sub__item-5 {
  color: #4c6ef5;
}
body .container .sub__container-5 .my-skills .sub__item-6 {
  color: #82c91e;
}
body .container .sub__container-5 .my-skills .sub__item-7 {
  color: #be4bdc;
}
body .container .sub__container-5 .my-skills .sub__item-8 {
  color: #f783ac;
}
body .container .sub__container-6 {
  text-align: center;
  margin-bottom: 5rem;
  max-width: 1000rem;
}
body .container .sub__container-6 h1 {
  font-size: 4rem;
  margin: 3rem 3rem 6rem 3rem;
  font-weight: 400;
}
body .container .sub__container-6 .works {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #ffffff;
}
body .container .sub__container-6 .works .card-1,
body .container .sub__container-6 .works .card-2,
body .container .sub__container-6 .works .card-3,
body .container .sub__container-6 .works .card-4,
body .container .sub__container-6 .works .card-5,
body .container .sub__container-6 .works .card-6 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 20rem;
  max-width: 35rem;
  width: 100%;
  margin: 3rem;
  transition: 0.3s;
  cursor: pointer;
}
body .container .sub__container-6 .works .card-1:hover,
body .container .sub__container-6 .works .card-2:hover,
body .container .sub__container-6 .works .card-3:hover,
body .container .sub__container-6 .works .card-4:hover,
body .container .sub__container-6 .works .card-5:hover,
body .container .sub__container-6 .works .card-6:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.03);
}
body .container .sub__container-6 .works .card-1 {
  background-image: url(../images/card-1.jpg);
  background-size: cover;
}
body .container .sub__container-6 .works .card-2 {
  background-image: url(../images/card-2.jpg);
  background-size: cover;
}
body .container .sub__container-6 .works .card-3 {
  background-image: url(../images/card-3.jpg);
  background-size: cover;
}
body .container .sub__container-6 .works .card-4 {
  background-image: url(../images/card-4.jpg);
  background-size: cover;
}
body .container .sub__container-6 .works .card-5 {
  background-image: url(../images/card-5.jpg);
  background-size: cover;
}
body .container .sub__container-6 .works .card-6 {
  background-image: url(../images/card-6.jpg);
  background-size: cover;
}
body .container .sub__container-7 {
  padding: 15px;
  background: #f7f7f7;
  border-radius: 8px;
  margin: 3rem;
  margin-bottom: 10rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
body .container .sub__container-7 h1 {
  background: #43d1af;
  padding: 20px;
  font-size: 5rem;
  font-weight: 400;
  text-align: center;
  color: whitesmoke;
  margin: -16px -16px 16px -16px;
  border-radius: 8px;
  line-height: 10rem;
}
body .container .sub__container-7 input[type=text],
body .container .sub__container-7 input[type=email] {
  transition: all 0.3s ease-in-out;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 1.5rem;
  color: #555;
  border-radius: 5px;
  font-family: "Exo", sans-serif;
  font-size: 2rem;
}
body .container .sub__container-7 textarea {
  transition: all 0.3s ease-in-out;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 1.5rem;
  color: #555;
  border-radius: 5px;
  height: 14rem;
  font-family: "Exo", sans-serif;
  font-size: 2rem;
}
body .container .sub__container-7 input[type=text]:focus,
body .container .sub__container-7 input[type=email]:focus,
body .container .sub__container-7 textarea:focus {
  box-shadow: 0 0 5px #43d1af;
  padding: 1.5rem;
  border: 1px solid #43d1af;
}
body .container .sub__container-7 input[type=submit],
body .container .sub__container-7 input[type=button] {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  background: #43d1af;
  border-bottom: 2px solid #30c29e;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: white;
  border-radius: 5px;
  font-family: "Exo", sans-serif;
  font-size: 2rem;
}
body .container .sub__container-7 input[type=submit]:hover,
body .container .sub__container-7 input[type=button]:hover {
  background: #2ebc99;
}
body .sub__container-8 {
  width: 100%;
  background-color: #1b242f;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  text-align: center;
}
body .sub__container-8 .fas {
  padding: 3rem 2rem 3rem 2rem;
  color: #1effbc;
  font-size: 4rem;
  margin-top: -3rem;
  transition: all 0.3s;
}
body .sub__container-8 .fas:hover {
  color: whitesmoke;
  transform: scale(1.03);
}
body .sub__container-8 .footer {
  display: flex;
  justify-content: center;
  align-content: space-between;
  margin-top: 1rem;
}
body .sub__container-8 .footer .icon {
  padding: 1rem 2rem 1rem 2rem;
  color: #e31b6d;
  font-size: 1.8rem;
  transition: all 1s;
}
body .sub__container-8 .footer .icon:hover {
  color: whitesmoke;
}
body .sub__container-8 .mark {
  margin-top: 2rem;
  padding-bottom: 3rem;
}
body .sub__container-8 .mark p {
  color: whitesmoke;
}

/*# sourceMappingURL=about.css.map */
